<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyNetQ" version="0.59.0.434" targetFramework="net45" />
  <package id="EasyNetQ.Management.Client" version="0.51.1.102" targetFramework="net45" />
  <package id="FastMember" version="1.0.0.11" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="3.6.2" targetFramework="net45" />
  <package id="Serialize.Linq" version="1.2.4" targetFramework="net452" />
</packages>