<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="persistenceServiceConfiguration" type="Charon.Infrastructure.Services.PersistenceServiceConfiguration, Charon.Infrastructure.PersistenceService" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.2.0" newVersion="3.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="CharonContext" connectionString="Data Source=(localdb)\MSSQLLocalDb;Initial Catalog=pluto;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="CharonContext" connectionString="Server=tcp:qj1etx4gaz.database.windows.net,1433;Database=skeuomorph;User ID=red-admin@qj1etx4gaz;Password=Snugg2015!;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <persistenceServiceConfiguration rabbitMQAddress="localhost" />
</configuration>
